<div class="selected-location card">
  <h1 class="selected-location__title">Select Your Location</h1>
  <form [formGroup]="selectedLocationForm" (ngSubmit)="onSubmit()">
    <div>
      <label for="name"> Please enter a city: </label>
      <input id="city" type="text" formControlName="city" />
    </div>

    <button class="button" type="submit">Check weather conditions</button>
  </form>

  <div
    *ngIf="
      selectedLocationApiService.selectedLocationApiData$
        | async as selectedLocationData
    "
  >
    <p>
      {{ selectedLocationData.main.temp }} is temperature in
      {{ selectedLocationData.name }}
    </p>
  </div>
</div>
