<div class="selected-location card">
  <h1 class="selected-location__title">Select Your Location</h1>
  <form
    class="selected-location__form"
    [formGroup]="selectedLocationForm"
    (ngSubmit)="onSubmit()"
  >
    <div class="selected-location__form-content">
      <label class="selected-location__form-label" for="name">
        Please enter a city:
      </label>
      <input
        class="selected-location__form-input"
        id="city"
        type="text"
        formControlName="city"
        (focus)="stopTimerSubscription()"
      />
    </div>

    <button class="selected-location__form-submit" type="submit">
      Check weather conditions
    </button>
  </form>

  <div
    *ngIf="
      selectedLocationApiService.selectedLocationApiData$
        | async as selectedLocationData;
      else spinner
    "
  >
    <p class="selected-location__text">
      Current temperature in {{ selectedLocationData.name }} is
      {{ selectedLocationData.main.temp }}<span>&#176;</span>C
    </p>
    <p class="selected-location__text">
      {{ selectedLocationData.weather[0]?.description }}
    </p>
  </div>

  <ng-template #spinner>
    <app-spinner spinnerName="selected-spinner"></app-spinner>
  </ng-template>
</div>
